@import "./colors";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Lato, Arial, Helvetica, sans-serif;
  background: $background-color;
}
