/* HEX */
$color-primary: #06983fff;
$color-secondary: #929896ff;
$background-color: #464749ff;
$font-color: #f8f8f8ff;

$background-color-darker-1: darken(
  $color: $background-color,
  $amount: 5%,
);
$background-color-darker-2: darken(
  $color: $background-color,
  $amount: 10%,
);
$background-color-darker-3: darken(
  $color: $background-color,
  $amount: 15%,
);
$background-color-darker-4: darken(
  $color: $background-color,
  $amount: 20%,
);

$background-color-lighter-1: lighten(
  $color: $background-color,
  $amount: 5%,
);
$background-color-lighter-2: lighten(
  $color: $background-color,
  $amount: 10%,
);
$background-color-lighter-3: lighten(
  $color: $background-color,
  $amount: 15%,
);
$background-color-lighter-4: lighten(
  $color: $background-color,
  $amount: 20%,
);
