  <div class="wrapper" [ngClass]="{'dimmed-background': show}" (click)="checkCloseModal()">
    <header class="header">
      <h1 class="heading heading--main">plastock</h1>
    </header>
    <main class="content-container">
      <section class="filament-grid">
        <h2>Inventory</h2>
        <app-filament-grid></app-filament-grid>
      </section>
      <app-filament-detail></app-filament-detail>
    </main>
  </div>
  <app-add-filament [show]="show" (closeEvent)="toggleAddFilament()"></app-add-filament>
  <div class="add-filament-icon" [ngStyle]="{display: show ? 'none' : 'block'}">
    <button (click)="toggleAddFilament()">
      <fa-icon [icon]="addIcon"></fa-icon>
    </button>
  </div>
